@{
    string controller = this.ViewContext.RouteData.Values["controller"].ToString().Trim().ToUpper();
    string action = this.ViewContext.RouteData.Values["action"].ToString().Trim().ToUpper();
}

<div class="pagination-bar">
    <ul class="pagination justify-content-center">

        @if (ViewBag.CurrentPage > 2)
        {
            <li title="1">
                <a  asp-controller="@controller" asp-action="@action" asp-route-page="1">
                    First page
                </a>
            </li>
        }

        @if (ViewBag.CurrentPage > 1)
        {
            <li title="@((ViewBag.CurrentPage == 2) ? "First page" : (ViewBag.CurrentPage - 1))">
                <a  asp-controller="@controller" asp-action="@action" asp-route-page="@(ViewBag.CurrentPage - 1)">
                    <i class="fa-solid fa-angles-left"></i>
                </a>
            </li>
        }

        @if (ViewBag.CurrentPage == ViewBag.PageCount && ViewBag.CurrentPage > 2)
        {
            <li>
                <a  asp-controller="@controller" asp-action="@action" asp-route-page="@(ViewBag.CurrentPage - 2)">
                    @(ViewBag.CurrentPage - 2)
                </a>
            </li>
        }
        @if (ViewBag.CurrentPage > 1)
        {
            <li>
                <a  asp-controller="@controller" asp-action="@action" asp-route-page="@(ViewBag.CurrentPage - 1)">
                    @(ViewBag.CurrentPage - 1)
                </a>
            </li>
        }

        <li class="page-item active">
            <a  href="javascript:void(0)">
                @(ViewBag.CurrentPage)
            </a>
        </li>

        @if (ViewBag.CurrentPage < ViewBag.PageCount)
        {
            <li>
                <a  asp-controller="@controller" asp-action="@action" asp-route-page="@(ViewBag.CurrentPage + 1)">
                    @(ViewBag.CurrentPage + 1)
                </a>
            </li>
        }
        @if (ViewBag.CurrentPage == 1 && (ViewBag.CurrentPage + 2) <= ViewBag.PageCount)
        {
            <li>
                <a  asp-controller="@controller" asp-action="@action" asp-route-page="@(ViewBag.CurrentPage + 2)">
                    @(ViewBag.CurrentPage + 2)
                </a>
            </li>
        }

        @if (ViewBag.CurrentPage < ViewBag.PageCount)
        {
            <li title="@((ViewBag.CurrentPage == ViewBag.PageCount - 1) ? "Next" : (ViewBag.CurrentPage + 1))">
                <a  asp-controller="@controller" asp-action="@action" asp-route-page="@(ViewBag.CurrentPage + 1)">
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </li>
        }

        @if (ViewBag.CurrentPage < ViewBag.PageCount - 1)
        {
            <li title="@ViewBag.PageCount">
                <a  asp-controller="@controller" asp-action="@action" asp-route-page="@ViewBag.PageCount">
                    Last
                </a>
            </li>
        }

    </ul>
</div>

