@model List<Category>

@foreach (var item in Model)
{
    <li class="level sub-megamenu">
        <span class="opener plus"></span>
        <a asp-controller="shop" asp-action="CategoryShop" asp-route-id="@item.Id" class="page-scroll"><i class="@item.Icon"></i>@item.Name (@item.ProductCategories.Count)</a>
        <div class="megamenu mobile-sub-menu">
            <div class="megamenu-inner-top">
                <ul class="sub-menu-level1 d-lg-flex">
                    <li class="level2">
                        <a asp-controller="shop" asp-action="childcategoryproduct"><span>Categories</span></a>
                        <ul class="sub-menu-level2 ">
                            @foreach (var sub in item.Children)
                            {
                                <li class="level3"><a asp-controller="shop" asp-action="CategoryShop" asp-route-id="@item.Id"><span>■</span>@sub.Name</a></li>
                            }

                        </ul>
                    </li>
                    <li class="level2">
                        <div class="sub-menu-slider d-none d-lg-block ">
                            <div class="row">
                                <div class="owl-carousel sub_menu_slider">
                                    @foreach (var product in item.ProductCategories)
                                    {
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a asp-controller="shop" asp-action="details" asp-route-id="@product.Product.Id">
                                                    <img src="~/images/product/@product.Product.MainImageUrl" alt="Stylexpo">
                                                </a>

                                            </div>
                                            <div class="product-item-details">
                                                <div class="product-item-name">
                                                    <a asp-controller="shop" asp-action="details" asp-route-id="@product.Product.Id">Defyant Reversible Dot Shorts</a>
                                                </div>
                                                @if (product.Product.Discount > 0)
                                                {
                                                    <div class="price-box"> <span class="price">&#8380;@product.Product.Discount</span> <span style="text-decoration:line-through" class="price old-price">&#8380;@product.Product.Price</span> </div>
                                                }
                                                else
                                                {
                                                    <div class="price-box"> <span class="price">&#8380;@product.Product.Price</span></div>
                                                }
                                            </div>
                                        </div>
                                    }


                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </li>
}

