@model List<Product>
<div class="banner inner-banner1 ">
    <div class="container">
        <section class="banner-detail center-xs">
            <h1 class="banner-title">Women</h1>
            <div class="bread-crumb right-side float-none-xs">
                <ul>
                    <li><a asp-controller="home" asp-action="index">Home</a>/</li>
                    <li><span>Shop</span></li>
                </ul>
            </div>
        </section>
    </div>
</div>
<!-- Bread Crumb END -->
<!-- CONTAIN START -->
<section class="ptb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-3 mb-sm-30 col-lgmd-20per">
                <div class="sidebar-block">
                    <div class="sidebar-box listing-box mb-40">
                        <span class="opener plus"></span>
                        <div class="sidebar-title">
                            <h3><span>Categories</span></h3>
                        </div>
                        <div class="sidebar-contant">
                            <ul>
                                <li><a href="#">Clothing <span>(21)</span></a></li>
                                <li><a href="#">Shoes <span>(05)</span></a></li>
                                <li><a href="#">Jewellery <span>(10)</span></a></li>
                                <li><a href="#">Furniture <span>(12)</span></a></li>
                                <li><a href="#">Bags <span>(18)</span></a></li>
                                <li><a href="#">Accessories <span>(70)</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-box mb-40">
                        <span class="opener plus"></span>
                        <div class="sidebar-title">
                            <h3><span>Shop by</span></h3>
                        </div>
                        <div class="sidebar-contant">
                            <div class="price-range mb-30">
                                <div class="inner-title">Price range</div>
                                <input class="price-txt" type="text" id="amount">
                                <div id="slider-range"></div>
                            </div>
                            <div class="size mb-20">
                                <div class="inner-title">Size</div>
                                <ul>
                                    <li><a href="#">S (10)</a></li>
                                    <li><a href="#">M (05)</a></li>
                                    <li><a href="#">L (10)</a></li>
                                    <li><a href="#">XL (08)</a></li>
                                    <li><a href="#">XXL (05)</a></li>
                                </ul>
                            </div>
                            <div class="mb-20">
                                <div class="inner-title">Color</div>
                                <ul>
                                    <li><a href="#">Black <span>(0)</span></a></li>
                                    <li><a href="#">Blue <span>(05)</span></a></li>
                                    <li><a href="#">Brown <span>(10)</span></a></li>
                                </ul>
                            </div>
                            <div class="mb-20">
                                <div class="inner-title">Manufacture</div>
                                <ul>
                                    <li><a href="#">Augue congue <span>(0)</span></a></li>
                                    <li><a href="#">Eu magna <span>(05)</span></a></li>
                                    <li><a href="#">Ipsum sit <span>(10)</span></a></li>
                                </ul>
                            </div>
                            <a href="#" class="btn btn-color">Refine</a>
                        </div>
                    </div>
                    <div class="sidebar-box mb-40 d-none d-lg-block">
                        <a href="#">
                            <img src="images/left-banner.jpg" alt="Stylexpo">
                        </a>
                    </div>
                    <div class="sidebar-box sidebar-item">
                        <span class="opener plus"></span>
                        <div class="sidebar-title">
                            <h3><span>Best Selle</span>r</h3>
                        </div>
                        <div class="sidebar-contant">
                            <ul>
                                <li>
                                    <div class="pro-media"> <a href="#"><img alt="T-shirt" src="images/product/product_1_sm.jpg"></a> </div>
                                    <div class="pro-detail-info">
                                        <a href="#">Black African Print</a>
                                        <div class="rating-summary-block">
                                            <div class="rating-result" title="53%"> <span style="width:53%"></span> </div>
                                        </div>
                                        <div class="price-box"> <span class="price">$80.00</span> </div>
                                        <div class="cart-link">
                                            <form>
                                                <button title="Add to Cart">Add To Cart</button>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="pro-media"> <a href="#"><img alt="T-shirt" src="images/product/product_2_sm.jpg"></a> </div>
                                    <div class="pro-detail-info">
                                        <a href="#">Black African Print</a>
                                        <div class="rating-summary-block">
                                            <div class="rating-result" title="53%"> <span style="width:53%"></span> </div>
                                        </div>
                                        <div class="price-box"> <span class="price">$80.00</span> </div>
                                        <div class="cart-link">
                                            <form>
                                                <button title="Add to Cart">Add To Cart</button>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="pro-media"> <a href="#"><img alt="T-shirt" src="images/product/product_3_sm.jpg"></a> </div>
                                    <div class="pro-detail-info">
                                        <a href="#">Black African Print</a>
                                        <div class="rating-summary-block">
                                            <div class="rating-result" title="53%"> <span style="width:53%"></span> </div>
                                        </div>
                                        <div class="price-box"> <span class="price">$80.00</span> </div>
                                        <div class="cart-link">
                                            <form>
                                                <button title="Add to Cart">Add To Cart</button>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-10 col-lg-9 col-lgmd-80per">
                <div class="shorting mb-30">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="view">
                                <div class="list-types grid active ">
                                    <a href="shop.html">
                                        <div class="grid-icon list-types-icon"></div>
                                    </a>
                                </div>
                                <div class="list-types list">
                                    <a href="shop-list.html">
                                        <div class="list-icon list-types-icon"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="short-by float-right-sm">
                                <span>Sort By :</span>
                                <div class="select-item select-dropdown">
                                    <fieldset>
                                        <select name="speed" id="sort-price" class="option-drop">
                                            <option value="" selected="selected">Name (A to Z)</option>
                                            <option value="">Name(Z - A)</option>
                                            <option value="">price(low&gt;high)</option>
                                            <option value="">price(high &gt; low)</option>
                                            <option value="">rating(highest)</option>
                                            <option value="">rating(lowest)</option>
                                        </select>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="show-item right-side float-left-sm">
                                <span>Show :</span>
                                <div class="select-item select-dropdown">
                                    <fieldset>
                                        <select name="speed" id="show-item" class="option-drop">
                                            <option value="" selected="selected">24</option>
                                            <option value="">12</option>
                                            <option value="">6</option>
                                        </select>
                                    </fieldset>
                                </div>
                                <span>Per Page</span>
                                <div class="compare float-right-sm"> <a href="#" class="btn btn-color">Compare (0)</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-listing">
                    <div class="inner-listing">
                        <div class="row">
                            @foreach (var product in Model)
                            {
                                <div class="col-md-4 col-6 item-width mb-30">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a asp-controller="shop" asp-action="details" asp-route-id="@product.Id"> <img style="width:290px;height:375px" src="images/product/@product.MainImageUrl" alt="Product Image"> </a>
                                            <div class="product-detail-inner">
                                                <div class="detail-inner-left align-center">
                                                    <ul>
                                                        <li class="pro-cart-icon">
                                                            <form>
                                                                <button title="Add to Cart"><span></span>Add to Cart</button>

                                                            </form>
                                                        </li>
                                                        <li>
                                                            <a id="productLink">
                                                                <input type="hidden" id="productId" value="@product.Id" />
                                                                <i style="color:red; font-size:25px; margin-top:5px;font-weight:bolder" id=@("favorite"+product.Id) class="fa-regular fa-heart"></i>
                                                            </a>
                                                        </li>
                                                        <li class="pro-compare-icon">
                                                            <a href="compare.html" title="Compare">
                                                                <i style="color:black; font-size:25px; margin-top:5px" class="fa-solid fa-code-compare"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        @if (product.Discount > 0)
                                        {
                                            <div class="product-item-details">
                                                <div class="product-item-name"> <a asp-controller="shop" asp-action="details" asp-route-id="@product.Id">@product.Name</a> </div>
                                                <div class="price-box"> <span class="price">$@product.Discount</span> <span style="text-decoration:line-through" class="price old-price">$@product.Price</span> </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="product-item-details">
                                                <div class="product-item-name"> <a asp-controller="shop" asp-action="details" asp-route-id="@product.Id">@product.Name</a> </div>
                                                <div class="price-box"> <span class="price">$@product.Price</span></div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }


                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="pagination-bar">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
        <script>
            $(document).on('click', '#productLink', function () {
                var productId = $(this).children('#productId').val();
                $.ajax({
                    type: "POST",
                    url: '/WishList/AddProductToWishList',
                    data: { productId: productId },
                    success: function () {
                        $("#favorite" + productId).removeStyle("fa-regular fa-heart");
                        $("#favorite" + productId).addClass("fa-solid fa-heart");
                    },
                });
            })
        </script>
}