@{
    ViewData["Title"] = "Home Page";
    HomeViewModel model = Model;
    var sliders = model.Sliders;
    var categories = model.Categories;
    var products = model.Products;
}


<!-- BANNER STRAT -->
<section class="">
    <div id="owl-example" class="banner owl-carousel">
        <div class="main-banner">
            @foreach (var slider in sliders)
            {
                <div class="item">
                    <div class="banner-1">
                        <img src="~/images/slider/@slider.ImageUrl" alt="Stylexpo">
                        <div class="banner-detail">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-7 offset-lg-6 offset-5">
                                        <div class="banner-detail-inner slider-animation animated-1">
                                            <span class="slogan">@slider.Title</span>
                                            <h1 class="banner-title animated">@Html.Raw(slider.Description)</h1>
                                            <p class="offer">@slider.Slogan</p>
                                            <a class="btn btn-color" href="shop.html">Shop Now!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- BANNER END -->
<!-- CONTAIN START -->
<!-- SUB-BANNER START -->
<div class="sub-banner-block ">
    <div class="">
        <div class="">
            <div class="row mlr_-10">
                <div class="col-md-4 plr-10">
                    <div class="sub-banner sub-banner1">
                        <img alt="Stylexpo" src="~/images/sub-banner1.jpg">
                        <div class="sub-banner-detail">
                            <div class="sub-banner-slogan">Top Brands</div>
                            <div class="sub-banner-title sub-banner-title-color">sunglasses</div>
                            <div class="sub-banner-subtitle">Flash sale</div>
                            <a class="btn btn-color"asp-controller="shop" asp-action="index">Shop Now!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-xs-10 plr-10">
                    <div class="">
                        <div class="sub-banner sub-banner2">
                            <img alt="Stylexpo" src="~/images/sub-banner2.jpg">
                            <div class="sub-banner-detail">
                                <div class="sub-banner-slogan">Lifestyle</div>
                                <div class="sub-banner-title sub-banner-title-color">Trending 2021</div>
                                <div class="sub-banner-subtitle"> Ultimate Sale</div>
                                <a class="btn btn-color " asp-controller="shop" asp-action="index">Shop Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-xs-10 plr-10">
                    <div class="sub-banner sub-banner3">
                        <img alt="Stylexpo" src="~/images/sub-banner3.jpg">
                        <div class="sub-banner-detail">
                            <div class="sub-banner-slogan">Featured</div>
                            <div class="sub-banner-title sub-banner-title-color">Classic Watch</div>
                            <div class="sub-banner-subtitle">Collection</div>
                            <a class="btn btn-color " asp-controller="shop" asp-action="index">Shop Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SUB-BANNER END -->
<!--  New arrivals Products Slider Block Start  -->
<section class="pt-70">
    <div class="container">
        <div class="product-listing">
            <div class="row">
                <div class="col-12">
                    <div class="heading-part mb-30">
                        <h2 class="main_title heading"><span>New Arrivals</span></h2>
                    </div>
                </div>
            </div>
            <div class="pro_cat">
                <div class="row">
                    <div class="owl-carousel pro-cat-slider ">
                        @for (int i = 0; i <= products.Count - 1; i += 2)
                        {
                            <div class="item">
                                <div class="product-item mb-30">
                                    @if (products[i].Discount > 0)
                                    {
                                        <div class="main-label sale-label"><span>Sale</span></div>
                                    }
                                    <div class="product-image">
                                        <a asp-controller="shop" asp-action="details" asp-route-id="@products[i].Id"> <img style="width:270px;height:350px" src="images/product/@products[i].MainImageUrl" alt="Stylexpo"> </a>
                                        <div class="product-detail-inner">
                                            <div class="detail-inner-left align-center">
                                                <ul>
                                                    <li class="pro-cart-icon">
                                                        <button asp-controller="shop" asp-action="details" asp-route-id="@products[i].Id" title="Add to Cart"><span></span>Add to Cart</button>
                                                    </li>
                                                    <li class="pro-wishlist-icon">
                                                        <a href="#" title="Wishlist" data-id="@products[i].Id"></a>
                                                    </li>
                                                    <li class="pro-compare-icon">
                                                        <a href="#" title="Compare" data-id="@products[i].Id"></a>
                                                    </li>



                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    @if (products[i].Discount > 0)
                                    {
                                        <div class="product-item-details">
                                            <div class="product-item-name"> <a asp-controller="shop" asp-action="details" asp-route-id="@products[i].Id">@products[i].Name</a> </div>
                                            <div class="price-box"> <span class="price">$@products[i].Discount</span> <span style="text-decoration:line-through" class="price old-price">$@products[i].Price</span> </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="product-item-details">
                                            <div class="product-item-name"> <a asp-controller="shop" asp-action="details" asp-route-id="@products[i].Id">@products[i].Name</a> </div>
                                            <div class="price-box"> <span class="price">$@products[i].Price</span></div>
                                        </div>
                                    }
                                </div>
                                @if (i + 1 < products.Count)
                                {
                                    <div class="product-item">
                                        @if (products[i + 1].Discount > 0)
                                        {
                                            <div class="main-label sale-label"><span>Sale</span></div>
                                        }
                                        <div class="product-image">
                                            <a asp-controller="shop" asp-action="details" asp-route-id="@products[i+1].Id"> <img style="width:270px;height:350px" src="images/product/@products[i+1].MainImageUrl" alt="Stylexpo"> </a>
                                            <div class="product-detail-inner">
                                                <div class="detail-inner-left align-center">
                                                    <ul>
                                                        <li class="pro-cart-icon">
                                                            <form>
                                                                <button title="Add to Cart"><span></span>Add to Cart</button>

                                                            </form>
                                                        </li>
                                                        <li class="pro-wishlist-icon">
                                                            <a href="#" title="Wishlist" data-id="@products[i+1].Id"></a>
                                                        </li>
                                                        <li class="pro-compare-icon">
                                                            <a href="#" title="Compare" data-id="@products[i+1].Id"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        @if (products[i + 1].Discount > 0)
                                        {
                                            <div class="product-item-details">
                                                <div class="product-item-name"> <a asp-controller="shop" asp-action="details" asp-route-id="@products[i+1].Id">@products[i+1].Name</a> </div>
                                                <div class="price-box"> <span class="price">$@products[i+1].Discount</span> <span style="text-decoration:line-through" class="price old-price">$@products[i+1].Price</span> </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="product-item-details">
                                                <div class="product-item-name"> <a asp-controller="shop" asp-action="details" asp-route-id="@products[i+1].Id">@products[i+1].Name</a> </div>
                                                <div class="price-box"> <span class="price">$@products[i+1].Price</span></div>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  New arrivals Products Slider Block End  -->
<!-- perellex-banner Start -->
<section>
    <div class="perellex-banner">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 ptb-70 client-box">
                    <div class="perellex-delail align-center">
                        <div class="perellex-offer"><span class="line-bottom">Sale Up to 30% off</span></div>
                        <div class="perellex-title ">Lifestyle Collection </div>
                        <p>We offer cheap fashion accessories at discount price</p>
                        <a asp-controller="shop" asp-action="index" class="btn btn-color">Shop Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- perellex-banner End -->
<!--  Site Services Features Block Start  -->
<div class="ser-feature-block">
    <div class="container">
        <div class="center-xs">
            <div class="row">
                <div class="col-xl-3 col-6 service-box">
                    <div class="feature-box ">
                        <div class="feature-icon feature1"></div>
                        <div class="feature-detail">
                            <div class="ser-title">Free Delivery</div>
                            <div class="ser-subtitle">From $59.89</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-6 service-box">
                    <div class="feature-box">
                        <div class="feature-icon feature2"></div>
                        <div class="feature-detail">
                            <div class="ser-title">Support 24/7</div>
                            <div class="ser-subtitle">Online 24 hours</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-6 service-box">
                    <div class="feature-box ">
                        <div class="feature-icon feature3"></div>
                        <div class="feature-detail">
                            <div class="ser-title">Free return</div>
                            <div class="ser-subtitle">365 a day</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-6 service-box">
                    <div class="feature-box ">
                        <div class="feature-icon feature4"></div>
                        <div class="feature-detail">
                            <div class="ser-title">Big Saving</div>
                            <div class="ser-subtitle">Weeken Sales</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Site Services Features Block End  -->
<!--small banner Block Start-->
<section class="pt-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="sub-banner small-banner small-banner1">
                    <a href="shop.html">
                        <img src="~/images/small-banner1.jpg" alt="Stylexpo">
                    </a>
                </div>
            </div>
            <div class="col-lg-6 mt-sm-30">
                <div class="sub-banner small-banner small-banner2">
                    <a href="shop.html">
                        <img src="~/images/small-banner2.jpg" alt="Stylexpo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--small banner Block Start-->
<!--  Special products Products Slider Block Start  -->
<section class="ptb-70">
    <div class="container">
        <div class="product-listing">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="heading-part mb-30">
                                <h2 class="main_title heading"><span>Best seller</span></h2>
                            </div>
                        </div>
                    </div>
                    <div class="pro_cat">
                        <div class="row">
                            <div class="owl-carousel best-seller-pro">
                                @foreach (var item in products)
                                {
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="main-label new-label"><span>New</span></div>
                                            <div class="product-image">
                                                <a asp-controller="shop" asp-action="details" asp-route-id="@item.Id"> <img style="width:270px;height:350px;" src="~/images/product/@item.MainImageUrl" alt="Product"> </a>
                                                <div class="product-detail-inner">
                                                    <div class="detail-inner-left align-center">
                                                        <ul>
                                           
                                                            <li class="pro-wishlist-icon active"><a href="#" title="Wishlist"></a></li>
                                                            <li class="pro-compare-icon"><a href="#" title="Compare"></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-item-details">
                                                <div class="product-item-name"> <a asp-controller="shop" asp-action="details" asp-route-id="@item.Id">@item.Name</a> </div>
                                                @if (item.Discount > 0)
                                                {
                                                    <div class="price-box"> <span class="price">&#8380;@item.Discount</span> <span style="text-decoration:line-through" class="price old-price">&#8380;@item.Price</span> </div>
                                                }
                                                else
                                                {
                                                    <div class="price-box"> <span class="price">&#8380;@item.Price</span></div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 mt-xs-30">
                    <div class="row">
                        <div class="col-12">
                            <div class="heading-part mb-30">
                                <h2 class="main_title heading"><span>New products </span></h2>
                            </div>
                        </div>
                    </div>
                    <div class="pro_cat">
                        <div class="row">
                            <div class="owl-carousel best-seller-pro">
                                @foreach (var item in products.OrderByDescending(x=>x.Id))
                                {
                                    <div class="item">
                                        <div class="product-item">
                                            <div class="main-label new-label"><span>New</span></div>
                                            <div class="product-image">
                                                <a asp-controller="shop" asp-action="details" asp-route-id="@item.Id"> <img style="width:270px;height:350px;" src="~/images/product/@item.MainImageUrl" alt="New"> </a>
                                                <div class="product-detail-inner">
                                                    <div class="detail-inner-left align-center">
                                                        <ul>
                                                           
                                                            <li class="pro-wishlist-icon active"><a href="#" title="Wishlist"></a></li>
                                                            <li class="pro-compare-icon"><a href="compare.html" title="Compare"></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-item-details">
                                                <div class="product-item-name"> <a asp-controller="shop" asp-action="details" asp-route-id="@item.Id">@item.Name</a> </div>
                                                @if (item.Discount > 0)
                                                {
                                                    <div class="price-box"> <span class="price">&#8380;@item.Discount</span> <span style="text-decoration:line-through" class="price old-price">&#8380;@item.Price</span> </div>
                                                }
                                                else
                                                {
                                                    <div class="price-box"> <span class="price">&#8380;@item.Price</span></div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                               
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  Special products Products Slider Block End  -->
<!--Blog Block Start -->
@await Component.InvokeAsync("LastestNews")
<!--Blog Block End -->
<!-- Brand logo block Start  -->
<div class="brand-logo pb-70">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <div class="heading-part mb-30">
                    <h2 class="main_title heading"><span>Our Brands</span></h2>
                </div>
            </div>
        </div>
        <div class=" brand">
            <div class="row">
                <div id="brand-logo" class="owl-carousel align_center">
                    <div class="item"><a href="#"><img src="~/images/brand1.png" alt="Stylexpo"></a></div>
                    <div class="item"><a href="#"><img src="~/images/brand2.png" alt="Stylexpo"></a></div>
                    <div class="item"><a href="#"><img src="~/images/brand3.png" alt="Stylexpo"></a></div>
                    <div class="item"><a href="#"><img src="~/images/brand4.png" alt="Stylexpo"></a></div>
                    <div class="item"><a href="#"><img src="~/images/brand5.png" alt="Stylexpo"></a></div>
                    <div class="item"><a href="#"><img src="~/images/brand6.png" alt="Stylexpo"></a></div>
                    <div class="item"><a href="#"><img src="~/images/brand7.png" alt="Stylexpo"></a></div>
                    <div class="item"><a href="#"><img src="~/images/brand8.png" alt="Stylexpo"></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Brand logo block End  -->
<!-- CONTAINER END -->
@section Scripts{
    <script>
        $(document).on('click', '.pro-wishlist-icon a', function (e) {
            e.preventDefault();
            var productId = $(this).data('id');
            var $this = $(this);
            var actionUrl = $(this).parent().hasClass("active")
                ? 'DeleteProductFromWishList'
                : 'AddProductToWishList';

            $.ajax({
                type: "POST",
                url: `/WishList/${actionUrl}`,
                data: { productId: productId },
                success: function () {
                    let allIcons = $(`.pro-wishlist-icon > a[data-id=${productId}]`);
                    let actionBtn = $this.parent();

                    if (actionBtn.hasClass("active")) {
                        actionBtn.removeClass('active');
                        allIcons.each((index, el) => $(el).parent().removeClass('active'))
                        return;
                    }
                    actionBtn.addClass('active');
                    allIcons.each((index, el) => $(el).parent().addClass('active'))
                },
            });
        })
    </script>
}