@model List<BasketProductViewModel>
@{
    decimal subTotal = 0;
    foreach (var item in Model)
    {
        subTotal += item.Count * item.Price;
    }
}
<div class="banner inner-banner1 ">
    <div class="container">
        <section class="banner-detail center-xs">
            <h1 class="banner-title">Shopping Cart</h1>
            <div class="bread-crumb right-side float-none-xs">
                <ul>
                    <li><a asp-controller="home" asp-action="index">Home</a>/</li>
                    <li><span>Shopping Cart</span></li>
                </ul>
            </div>
        </section>
    </div>
</div>
<!-- Bread Crumb END -->
<!-- CONTAIN START -->
<section class="ptb-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cart-item-table commun-table">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Sub Total</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var product in Model)
                                {
                                    <tr id=@(product.Id+"tbody")>

                                        <td>
                                            <input type="hidden" data-product-id value="@product.Id" />
                                            <a href="product-page.html">
                                                <div class="product-image">
                                                    <img alt="Stylexpo" style="width:74px;height:96px;" src="images/product/@product.Image">
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="product-title">
                                                <h4><a asp-asp-controller="shop" asp-action="details" asp-route-id="@product.Id">@product.Name</a></h4>
                                                <div class=""><span class="text-muted mr-2">Color :</span>@product.Color</div>
                                                <div class=""><span class="text-muted mr-2">Size :</span>@product.Size</div>
                                            </div>
                                        </td>
                                        <td>
                                            <ul>
                                                <li>
                                                    <div class="base-price price-box">
                                                        <span id="product-price" data-price="@product.Price" class="price">&#8380;@product.Price</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <div class="product-qty">
                                                <input id="product-quality" min="1" style="width:50px" type="number" value="@product.Count" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="total-price price-box">
                                                <span id=@("product-total-price" + product.Id)>&#8380;@(product.Count * product.Price)</span>
                                            </div>
                                        </td>
                                        <td>
                                            <i id="remove-from-cart" title="Remove Item From Cart" data-id="100" class="fa fa-trash cart-remove-item"></i>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-30">
            <div class="row">
                <div class="col-md-6">
                    <div class="mt-30">
                        <a asp-controller="shop" asp-action="index" class="btn btn-color">
                            <span><i class="fa fa-angle-left"></i></span>
                            Continue Shopping
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-30 right-side float-none-xs">
                        <a asp-controller="basket" class="btn btn-color">Update Cart</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="mtb-30">
            <div class="row">
                <div class="col-md-8">
                    <div class="cart-total-table commun-table">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Cart Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Item(s) Subtotal</td>
                                        <td>
                                            <div class="price-box">
                                                <span class="price">&#8380;@subTotal</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="mt-30">
            <div class="row">
                <div class="col-12">
                    <div class="left-side float-none-xs">
                        <a asp-controller="Order" asp-action="OrderProduct" class="btn btn-color">
                            Proceed to Order
                            <span><i class="fa fa-angle-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    <script asp-append-version="true" src="~/js/cino.js"></script>

}
